body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1258px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u568_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:497px;
  height:884px;
}
#u568 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:337px;
  width:497px;
  height:884px;
}
#u569 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:434px;
  width:493px;
  visibility:hidden;
  word-wrap:break-word;
}
#u570_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1009px;
  height:1px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:72px;
}
#u570 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:110px;
  width:1009px;
  height:1px;
  font-size:72px;
}
#u571 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1009px;
  white-space:nowrap;
}
#u572_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u572 {
  border-width:0px;
  position:absolute;
  left:706px;
  top:533px;
  width:352px;
  height:53px;
  font-size:18px;
}
#u573 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  white-space:nowrap;
}
#u574_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u574 {
  border-width:0px;
  position:absolute;
  left:715px;
  top:614px;
  width:235px;
  height:22px;
  font-size:18px;
}
#u575 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  white-space:nowrap;
}
#u576 {
  border-width:0px;
  position:absolute;
  left:519px;
  top:625px;
  width:0px;
  height:0px;
  font-size:13px;
  color:#000000;
}
#u576_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:184px;
  height:8px;
}
#u576_seg1 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:-9px;
  width:19px;
  height:18px;
}
#u577 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u578_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:538px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u578 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:703px;
  width:538px;
  height:46px;
}
#u579 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:538px;
  white-space:nowrap;
}
#u580 {
  border-width:0px;
  position:absolute;
  left:524px;
  top:714px;
  width:0px;
  height:0px;
  font-size:13px;
  color:#000000;
}
#u580_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:184px;
  height:8px;
}
#u580_seg1 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:-9px;
  width:19px;
  height:18px;
}
#u581 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
