body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1953px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1154px;
  height:804px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:799px;
  top:25px;
  width:1154px;
  height:804px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:394px;
  width:1150px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:565px;
  height:1006px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:245px;
  width:565px;
  height:1006px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:495px;
  width:561px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:453px;
  top:646px;
  width:104px;
  height:99px;
  overflow:hidden;
}
#u4_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:99px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u4_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:95px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:6px;
  width:95px;
  height:95px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:40px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:1px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:72px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:110px;
  width:290px;
  height:1px;
  font-size:72px;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  white-space:nowrap;
}
#u9_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:22px;
  color:#666666;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:441px;
  top:745px;
  width:136px;
  height:34px;
  font-size:22px;
  color:#666666;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:132px;
  word-wrap:break-word;
}
#u11_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:50px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:486px;
  top:779px;
  width:46px;
  height:50px;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:859px;
  top:75px;
  width:500px;
  height:57px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  word-wrap:break-word;
}
#u15_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1081px;
  height:363px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:859px;
  top:154px;
  width:1081px;
  height:363px;
  font-size:28px;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1081px;
  word-wrap:break-word;
}
#u17_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:868px;
  top:535px;
  width:500px;
  height:57px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  word-wrap:break-word;
}
#u19_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1081px;
  height:198px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:868px;
  top:625px;
  width:1081px;
  height:198px;
  font-size:28px;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1081px;
  word-wrap:break-word;
}
